{% extends 'stock_tracker/base.html' %}
{% load static %}
{% load humanize %}



{% block scripts %}
    <script src="{% static 'stock_tracker/js/scripts.js' %}"></script>
{% endblock %}


{% block content %}

    <form method="POST" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                <div class="fieldWrapper">
                    <label class="control-label col-sm-2" for="{{ field.auto_id }}">{{ field.label }}:</label>
                    <div class="col-sm-2">
                        {{ field }}
                    </div>
                    <div class="col-sm-4" style="width: 100%"></div>
                </div>
            {% endfor %}
        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <button id="search-btn" name="submit" class="save btn btn-primary">Search</button>
        </div>
    </form>

    <div class="spinner-div">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>


    {% if results %}
        <h1>Results:</h1>
        <table class="table table-striped tablesorter" id="myTable">
            <thead>
                <tr>
{#                    <td><a href="{% url '' %}">Company name</a></td>#}
                    <td>Company</td>
                    <td>Exchange</td>
                    <td>Country</td>
                    <td>Increase (%)</td>
                    <td>Start Price</td>
                    <td>End Price</td>
                    <td>Average Volume Turnover</td>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td><a href={% url 'results_details' start_date=form.start_date.value symbol=result.symbol end_date=form.end_date.value %}>{{ result.symbol }}</a></td>
                        <td>{{ result.exchange }}</td>
                        <td>{{ result.country }}</td>
                        <td>{{ result.increase }}%</td>
                        <td>{{ result.start_price }}</td>
                        <td>{{ result.end_price }}</td>
                        <td>{{ result.volume|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}